# spark
findspark
sparkmagic
delta-spark==1.1.0
#pyspark_kernel

# aws
boto3
s3fs

# jupyter
jupyterlab
ipywidgets
jupyterlab-git
jupyterlab_github

# data & data science
numpy
pandas
pandasql
pyarrow
fastparquet
#awswrangler
pyhive
matplotlib

# database
sqlalchemy
psycopg2-binary

# misc
pytz
gsheets
requests